@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @apply bg-zinc-900;
}

.button{
  @apply bg-amber-600 rounded-2xl my-2 py-2 px-4 border-amber-400 border-2 hover:bg-amber-500 shadow-amber-900 shadow-xl font-bold hover:scale-110 ;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
